---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hello, world!</h1>
		<p>
			Hey you, yes you, the one reading this right now. I hope you're doing well! Welcome
			to my humble website where I put all my random and weird thoughts, opinions and works
			online for everyone to see. I mostly publish religion, history, tech, science and
			philosophy related stuff.
		</p>
	</section>

	<section class="mt-8 sm:mt-16">
		<span class="flex mb-2">Check out my recent posts:</span>
		<ul class="space-y-4 sm:space-y-4 divide-y divide-accent-2">
			{allPostsByDate.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>

	<section class="mt-8 sm:mt-16">
		<span class="flex mb-2">To contact or find out more about me:</span>
		<SocialMediaLinks/>
	</section>
</BaseLayout>
