---
import { NAV_LINKS, siteConfig } from '../consts.ts';
import ThemeToggle from '../components/ThemeToggle.astro';
const year = new Date().getFullYear();
---


<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold sm:flex-row sm:justify-between sm:text-xs text-textColor mb-8"
>
	<div class="mr-2 sm:mr-0">
		Copyright &copy; {year}{" "}
		{siteConfig.profile.author}
	</div>
	<ThemeToggle />
</footer>

