---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
a {
	@apply text-accent transition;
}

a:after {
	content: "/";
	@apply text-accent-2 -ml-2 mr-1;
}

a:hover {
	@apply text-accent-3;
}

a.active {
	@apply font-bold hover:text-accent;
}
</style>
