---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "@/components/FormattedDate";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"blog">;
	withDesc?: boolean;
};

const { post, withDesc = true } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.pubDate;
---

<li>
	<div class="flex flex-col">
		<FormattedDate date={postDate} class="mt-1 min-w-[125px] text-accent dark:text-gray-500"/>
		<a href={`/blog/${post.slug}/`} class="cody-link" data-astro-prefetch>
			{post.data.title}
		</a>
	</div>
	{withDesc && ( <p class="mt-1 text-gray-600 dark:text-gray-400">{post.data.description}</p> )}
</li>

